pip
langchain 
python-decouple 
langchain-google-genai 
langchain-openai 
langchain-ollama 
streamlit 
wikipedia 
numexpr 
duckduckgo-search 
chromadb 
pypdf 
docx2txt 
youtube-transcript-api
ipython
langchain-community
langchain-mistralai
